i.fas {
    transition-property: transform;
    transition-duration:  6000ms;
    transition-timing: ease-in-out;
    
    .icon-rotate:hover & {
        transform: rotate(1080deg);
    }
}

button.btn-outline-success:hover {
    .icon-rotate  {
        color: white !important;
        transform: rotate(1080deg) !important;
    }
}

div.alert {
    i.fas {
        margin-right: 5px;
        transition: none;
    }
}

