$color_1: #cacaca;

.navbar {
	box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);

	.container {
		max-width: 1264px; 
		width: 100%; 
		display: flex; 
		margin: 0 auto;
	}
}

.nav-link.disabled {
	color: $color_1;
}
.navbar-light {
	.navbar-nav {
		.active {
			>.nav-link {
				font-weight: bold;
			}
		}
		.nav-link.active {
			font-weight: bold;
		}
		.nav-link.show {
			font-weight: bold;
		}
		.show {
			>.nav-link {
				font-weight: bold;
			}
		}
	}
}
