.navbar {
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.1), 0 1px 6px rgba(59, 64, 69, 0.1); }
  .navbar .container {
    max-width: 1264px;
    width: 100%;
    display: flex;
    margin: 0 auto; }

.nav-link.disabled {
  color: #cacaca; }

.navbar-light .navbar-nav .active > .nav-link {
  font-weight: bold; }

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold; }

.navbar-light .navbar-nav .nav-link.show {
  font-weight: bold; }

.navbar-light .navbar-nav .show > .nav-link {
  font-weight: bold; }

i.fas {
  transition-property: transform;
  transition-duration: 6000ms;
  transition-timing: ease-in-out; }
  .icon-rotate:hover i.fas {
    transform: rotate(1080deg); }

button.btn-outline-success:hover .icon-rotate {
  color: white !important;
  transform: rotate(1080deg) !important; }

div.alert i.fas {
  margin-right: 5px;
  transition: none; }

.icon-search {
  position: absolute;
  left: 1.6em;
  top: 50%;
  margin-top: -1.2em;
  pointer-events: none; }

.sign-in {
  background-color: #f5f5f5;
  height: 100%; }

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  padding-top: 55px; }
  .form-signin .checkbox {
    font-weight: 400; }
  .form-signin .form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px; }
    .form-signin .form-control:focus {
      z-index: 2; }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  .form-signin .top-item {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .form-signin .bottom-item {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

html {
  height: 100%; }

body {
  height: 100%; }

::placeholder {
  opacity: .5;
  /* Firefox */ }

.ps-relative {
  position: relative; }
