extends template

append styles
    // Custom styles for this template
    //link(href='../css/theme.css' rel='stylesheet')
block nav
  - var active = "home"

block content
    .container.theme-showcase(role='main')

        .py-5.text-center
            //-img.d-block.mx-auto.mb-4(src='/images/logo_a.png' alt='' width='72' height='72')
            h2 Home
            p.lead
                |Permissões de usuário e configurações de acesso são especificadas em perfis e conjuntos de permissões. Para usá-los efetivamente, entenda as diferenças entre os perfis e conjuntos de permissões.
        .row
            .col-md-12.order-md-1
                form(method="POST" action="/users")
                    #error
                        if error
                            p.text-danger #{errorMsg}
                    - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
                    h1(class=h1Classes) Alteração de perfil

                    .row
                        .col-md-6.mb-3
                    
                    .mb-3
                        //- signIn button
                        - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
                        button(class=buttonClass type="submit") Atualizar
