extends template
append styles
    // Custom styles for this template
    link(href='../css/JSONViewer.css' rel='stylesheet')
    link(href='../css/jquery.jsonbrowser.css' rel='stylesheet')    

block nav
  - var active = "checkout"

block content

    .container.theme-showcase(role='main')
        .pt-5.pb-3.text-left
            //-img.d-block.mx-auto.mb-4(src='/images/logo_a.png' alt='' width='72' height='72')
            h2 Metadata Types
            p.lead
                | Metadata API enables you to access some entities and feature settings that you can customize in the user interface.

            .alert.text-left.alert-warning.d-flex.align-items-top.mt-4.pt-4(role='alert')
                +icon('sticky-note')(color="#856404", size="2em")
                p
                    ul
                        li Metadata type names are case-sensitive. Specifying a type name with an invalid case results in a deployment error.
                        li Metadata types don’t always correspond directly to their related data types. In some cases, the information is accessible but not organized as expected. For example, dependent picklists are exposed as a type of picklist, not a separate metadata type.
                        li The wildcard character doesn’t apply to metadata types for feature settings, like AccountSettings. The wildcard applies only when retrieving all settings and not an individual setting. 

        .row
            .col-md-12.order-md-1
                .row
                    .col-md-6.mb-3
                        label(for="inputMetadata") Metadata Type
                        .form-inline
                            .form-group.mr-2.mb-2
                                //- input metadata 
                                select(name="inputMetadata" id="selectMetadata" class="form-control" required autofocus)
                                    each meta in metaList
                                        option(value=meta.xmlName) #{meta.xmlName}
                            button.btn.btn-primary.mb-2.btn-loading(id="btn-search-meta", type="button") 
                                +icon("search")(color='white')
                            button.btn.btn-outline-primary.mb-2.ml-2(type='button') Adicionar

                h4.mb-3 Metadata

                .form-inline
                    .btn-group.mb-3(role='group', aria-label='Button group with nested dropdown')
                        button#expand-all.btn.btn-light.border.border-secondary Expand all
                        button#collapse-all.btn.btn-light.border.border-secondary Collapse all

                    .ps-relative
                        input#search-metadata.form-control.mb-3.ml-3(type='text' placeholder='Filter by metadata name' style="padding-left: 2rem")
                        +icon-n("search")(color='#ced4da', trans='search')


                #browser.jsonbrowser
                #json

                //-pre(id='jsonCode')
                    code #{html}

                h4.mb-3 Billing address
                form.needs-validation(novalidate='')
                    .row
                        .col-md-6.mb-3
                            label(for='firstName') First name
                            input#firstName.form-control(type='text' placeholder='' value='' required='')
                            .invalid-feedback
                                | Valid first name is required.
                        .col-md-6.mb-3
                            label(for='lastName') Last name
                            input#lastName.form-control(type='text' placeholder='' value='' required='')
                            .invalid-feedback
                                | Valid last name is required.
                    .mb-3
                        label(for='username') Username
                        .input-group
                            .input-group-prepend
                                span.input-group-text @
                            input#username.form-control(type='text' placeholder='Username' required='')
                            .invalid-feedback(style='width: 100%;')
                                | Your username is required.
                    .mb-3
                        label(for='email')
                            | Email 
                            span.text-muted (Optional)
                        input#email.form-control(type='email' placeholder='you@example.com')
                        .invalid-feedback
                            | Please enter a valid email address for shipping updates.
                    .mb-3
                        label(for='address') Address
                        input#address.form-control(type='text' placeholder='1234 Main St' required='')
                        .invalid-feedback
                            | Please enter your shipping address.
                    .mb-3
                        label(for='address2')
                            | Address 2 
                            span.text-muted (Optional)
                        input#address2.form-control(type='text' placeholder='Apartment or suite')
                    .row
                        .col-md-5.mb-3
                            label(for='country') Country
                            select#country.custom-select.d-block.w-100(required='')
                                option(value='') Choose...
                                option United States
                            .invalid-feedback
                                | Please select a valid country.
                        .col-md-4.mb-3
                            label(for='state') State
                            select#state.custom-select.d-block.w-100(required='')
                                option(value='') Choose...
                                option California
                            .invalid-feedback
                                | Please provide a valid state.
                        .col-md-3.mb-3
                            label(for='zip') Zip
                            input#zip.form-control(type='text' placeholder='' required='')
                            .invalid-feedback
                                | Zip code required.
                    hr.mb-4
                    .custom-control.custom-checkbox
                        input#same-address.custom-control-input(type='checkbox')
                        label.custom-control-label(for='same-address') Shipping address is the same as my billing address
                    .custom-control.custom-checkbox
                        input#save-info.custom-control-input(type='checkbox')
                        label.custom-control-label(for='save-info') Save this information for next time
                    hr.mb-4
                    h4.mb-3 Payment
                    .d-block.my-3
                        .custom-control.custom-radio
                            input#credit.custom-control-input(name='paymentMethod' type='radio' checked='' required='')
                            label.custom-control-label(for='credit') Credit card
                        .custom-control.custom-radio
                            input#debit.custom-control-input(name='paymentMethod' type='radio' required='')
                            label.custom-control-label(for='debit') Debit card
                        .custom-control.custom-radio
                            input#paypal.custom-control-input(name='paymentMethod' type='radio' required='')
                            label.custom-control-label(for='paypal') PayPal
                    .row
                        .col-md-6.mb-3
                            label(for='cc-name') Name on card
                            input#cc-name.form-control(type='text' placeholder='' required='')
                            small.text-muted Full name as displayed on card
                            .invalid-feedback
                                | Name on card is required
                        .col-md-6.mb-3
                            label(for='cc-number') Credit card number
                            input#cc-number.form-control(type='text' placeholder='' required='')
                            .invalid-feedback
                                | Credit card number is required
                    .row
                        .col-md-3.mb-3
                            label(for='cc-expiration') Expiration
                            input#cc-expiration.form-control(type='text' placeholder='' required='')
                            .invalid-feedback
                                | Expiration date required
                        .col-md-3.mb-3
                            label(for='cc-cvv') CVV
                            input#cc-cvv.form-control(type='text' placeholder='' required='')
                            .invalid-feedback
                                | Security code required
                    hr.mb-4
                    button.btn.btn-primary.btn-lg.btn-block(type='submit') Continue to checkout

append scripts
    script(src='../js/jquery.jsonbrowser.js')
    script(src='../js/JSONViewer.js')
    script(src='../js/inputs.js')
    script(src='../js/buttons.js')
    script(src='../js/ajax.js')
    //script(src='../js/json-viewer.js')   