extends _bootstrap

block body
    block nav
        - var active = "home"

    if session.user
        include navbar.pug
        +navbar(active)

    block content

    footer.my-5.pt-5.text-muted.text-center.text-small
        p.mb-1 © 2019 Blaze
        ul.list-inline
            li.list-inline-item
                a(href='#') Privacy
            li.list-inline-item
                a(href='#') Terms
            li.list-inline-item
                a(href='#') Support